.popup_container {
  background: white;
  position: absolute;
  width: 600px;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  font-size: 3.2rem;
  filter: blur(0px);
}

.create_form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.create_submitbtn {
  background: #537fe7;
  border: none;
  cursor: pointer;
  color: white;
}
.close_createform {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-100%, 0);
  background: #537fe7;
  cursor: pointer;
  border: none;
  padding: 1rem;
  color: white;
  font-size: 1.6rem;
}
